USE [master]
GO
/****** Object:  Database [muzero]    Script Date: 2/16/2017 8:46:17 AM ******/
CREATE DATABASE [muzero]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'muzero', FILENAME = N'D:\MSSQL\Data\muzero.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'muzero_log', FILENAME = N'E:\MSSQL\Logs\muzero_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [muzero].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [muzero]
GO
/****** Object:  DatabaseRole [Developers]    Script Date: 2/16/2017 8:46:17 AM ******/
CREATE ROLE [Developers]
GO
/****** Object:  Table [dbo].[Days]    Script Date: 2/16/2017 8:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Days](
	[UserId] [nvarchar](50) NULL,
	[Date] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Directors]    Script Date: 2/16/2017 8:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Directors](
	[UserId] [nvarchar](50) NULL,
	[Department] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/16/2017 8:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [nvarchar](50) NOT NULL,
	[Department] [nvarchar](50) NULL,
	[DaysAvail] [int] NULL
) ON [PRIMARY]

GO
USE [master]
GO
